.container {
  padding: 20px;
  border: 2px dashed white;
  min-width: 600px;
  text-align: center;
  min-height: 150px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}