@import './variable';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}